<div class="connection-path" *ngIf="connectionPath">
  <div class="connection-header">
    <h3>Connection Found</h3>
    <div class="connection-meta">
      <span class="pill">{{ connectionPath.degrees }} degrees</span>
      <span class="pill" *ngIf="connectionPath.totalConnections">
        {{ connectionPath.totalConnections }} total links explored
      </span>
    </div>
  </div>

  <div class="path-container">
    <ng-container *ngFor="let celebrity of connectionPath.path; let i = index">
      <div class="path-step">
        <app-celebrity-card [celebrity]="celebrity"></app-celebrity-card>
      </div>

      <div class="path-connector" *ngIf="i < connectionPath.path.length - 1">
        <div class="v-connector" *ngIf="connectionPath.movies && connectionPath.movies[i]">
          <div class="v-arm v-arm-left" aria-hidden="true"></div>
          <div class="v-arm v-arm-right" aria-hidden="true"></div>

          <div class="connector-card">
          <img
            *ngIf="connectionPath.movies[i].movie.poster"
            [src]="connectionPath.movies[i].movie.poster"
            [alt]="connectionPath.movies[i].movie.title"
            class="connector-poster"
          />
          <div class="connector-info">
            <div class="connector-label">Connected via</div>
            <div class="connector-title">
              {{ connectionPath.movies[i].movie.title }}
              <span class="connector-year" *ngIf="connectionPath.movies[i].movie.year">
                ({{ connectionPath.movies[i].movie.year }})
              </span>
            </div>
          </div>
          </div>
        </div>
        <div class="arrow-fallback" *ngIf="!(connectionPath.movies && connectionPath.movies[i])" aria-hidden="true">
          ➜
        </div>
      </div>
    </ng-container>
  </div>
</div>